/*
 * Common style sheet
 * version 1.0.0
 * latest update: 1/Feb/2017
 */

 body{
     background-color: #FAFAFA;
     font-family: 'Work Sans', sans-serif;
 }

 h1{
     font-size: 4em;
     color: #8e8b8b;
     letter-spacing: 0.2em;
 }

 h2{
     font-size: 2.4em;
     color: #8e8b8b;
     letter-spacing: 0.2em;
 }

p{
    font-size: 1.6em;
    color: #8e8b8b;
}

img{
    vertical-align: bottom;
}

/* header */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(250,250,250,1);
    box-shadow: 7px 7px 7px rgba(25,25,25,0.2);
    z-index: 2;
}
.company_name{
    font-size: 26px;
    margin-top: 18px;
    padding-right: 10px;
    color: #282828;
}

.home_link,
.home_link:hover,
.home_link:visited{
    color: #282828;
}

.home_link:hover{
    text-decoration: none;
}

/* content_title*/
.content_title{
    font-weight: normal;
    font-size: 2.0em;
    padding: 20px;
    color: #8e8b8b;
    letter-spacing: 0.2em;
    margin-bottom: 60px;
    width: 240px;
    box-shadow: 4px 4px 10px rgba(12,12,12,0.2);
    text-align: center;
}

/* menuwrap */
.menu_wrap{
    width: 100%;
    height: 100%;
    text-align: right;
    display:none;
}

.menu_wrap img{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 14px;
    right: 10px;
}

.menu_img,.close_img{
    float:right;
    display:none;
}

/* JS で動的に付与*/
.vis{
    display: block;
}

/* navigation */

.menu_img_wrap > img{
    margin: 12px 0;
    max-width: 48px;
}
.navi{
    height: 60px;
    background-color: #FAFAFA;
    display: none;
}
.nv_list{
    letter-spacing: 0.4em;
    list-style: none;
    /* displaybox を設定 */
    /*display: box;
    display: -webkit-box;
    display: -moz-box;*/

    /* 配置したボックスを左右中央寄せにする */
    /*box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;*/
}

.nv_item{
    height: 100%;
    text-align: center;
}

.nv_text{
    font-size: 1.3em;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}
.w_line{
    margin-top: 5px;
}

.nv_link{
    color: #8e8b8b;
    vertical-align: middle;
}

.footer{
    width: 100%;
    background-color: #424242;
}
.footer_title{
    color: #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
}
.link_list{
    list-style: none;
}
.list_item{
    margin: 20px 0px;
}
.ft_link{
    color: #FAFAFA;
}
.writtenby{
    width: auto;
    font-size: 1.1em;
    color: #FAFAFA;
    float: right;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .company_name{
        font-size: 16px;
        margin-top: 24px;
        padding-right: 10px;
        color: #282828;
    }

    /* navi */
    .menu_wrap{
        display:block;
    }
    .menu_btn{
        display:block;
    }
    .navi{
        height: auto;
    }
    .nv_list{
        display: block;
    }
    .nv_item{
        width: 100%;
        margin: 14px 0;
    }
    .nv_item:first-child{
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .navi{
        display: none;
    }
}
