/*
 * Top page style sheet
 * version 1.0.0
 * latest update: 1/Feb/2017
 */

/* FirstView */
.firstview{
    text-align: center;
    margin: 120px 0 200px;
}

.fv_img{
    max-width: 100%;
}

.fv_subtitle{
    font-size: 1.6em;
    letter-spacing: 0.2em;
}

/* content_wrap */
.content_wrap{
    height: 100%;
    margin-bottom: 80px;
}
.error_msg{
  color: #cc0000;
}
.content_title{
    font-weight: normal;
    font-size: 2.0em;
    padding: 20px;
    color: #8e8b8b;
    letter-spacing: 0.2em;
    margin-bottom: 60px;
    width: 240px;
    box-shadow: 4px 4px 10px rgba(12,12,12,0.2);
    text-align: center;
}

/* contact */
.contact{
    margin-bottom: 120px;
}
.description{
    font-size: 1.2em;
    margin-bottom: 40px;
}
.form_wrap{
    height: 100%;
    list-style: none;
}
.form-section{
    margin-bottom: 30px;
}
.fm_time_wrap{
    margin-bottom: 14px;
}
.fm_time_wrap label{
    color: #8e8b8b;
}
.fm_time_wrap p{
    text-align: center;
}
.fm_time_wrap select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(../img/arrow.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(../img/arrow.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 12px, 100%;
}
.fm_label{
    font-size: 2em;
    padding-left: 80px;
    color: #8e8b8b;
    font-weight: bold;
}
.fm_text_wrap{
    height: 100%;
}
.fm_text,.fm_textarea{
    height: 100%;
    width: 100%;
    border: none;
    background-color: #FAFAFA;
}
.fm_text{
    height: 40px;
    border-bottom: 1px solid #8e8b8b;
}
.fm_textarea{
    height: 200px;
    border:  1px solid #8e8b8b;
}
::-webkit-input-placeholder{
    font-size: 1.6em;
}

@media screen and (min-width: 320px) and (max-width: 767px){

    /* content  */
    .content_wrap{
        margin-bottom: 20px;
    }
    .content_title{
        font-size: 1.4em;
        width: 156px;
    }
    .firstview{
        margin: 100px 0;
    }
    .fv_img{
    	max-width: 290px;
    }
    /* contact */
    .form_wrap{
    	width: 100%;
    	margin-left: 0px;
    }
    .fm_label{
    	width: 100%;
    	margin-right: 0px;
        margin-bottom: 20px;
    	font-size: 1.7em;
        padding-left: 15px;
    }
    .fm_text,
    .fm_textarea{
    	width: 100%;
    	margin-right: 0px;
        margin-bottom: 20px;
    }
    ::-webkit-input-placeholder{
        font-size: 1.6em;
    }
}
