/*
 * Top page style sheet
 * version 1.0.0
 * latest update: 1/Feb/2017
 */

/* FirstView */
.firstview{
    text-align: center;
    margin: 200px 0 120px;
}

.fv_img{
    max-width: 480px;
}

.fv_name{
  word-wrap: break-word;
}

.fv_subtitle{
    font-size: 1.6em;
    letter-spacing: 0.2em;
}

/* content_wrap */
.content_wrap{
    height: 100%;
    margin-bottom: 80px;
}

/* link-wrap */
.image_list_wrap{
  position: relative;
}
.item_wrap{
    overflow: hidden;
    margin-bottom: 40px;
    padding: 0;
}

.it_img_wrap{
    margin: 0;
}
.it_text_wrap{
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%); /* Safari用 */
    transform: translateY(-50%);
}
.it_img{
    max-width: 100%;
}

/* price plan */
.list_content{
    font-size: 2em;
    margin-left: 40px;
    margin-bottom: 40px;
    color: #8e8b8b;
}

/* .btn_wrap */
.contact_btn{
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}

.btn_link{
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #8e8b8b;
    display:block;
    text-decoration: none;
}
.btn_link:hover{
    color: #FAFAFA;
    text-decoration: none;
}

.reserve_btn{
    background-color: #FF8A65;
}
.reserve_btn:hover{
    background-color: #FFCCBC;
}

.contact_btn{
    border: 1px solid #8e8b8b;
}
.contact_btn:hover{
    background-color: #8e8b8b;
}

@media screen and (min-width: 320px) and (max-width: 639px){
    .fv_name{
      font-size: 2.2em;
      margin-top: 200px;
    }
    /* navi */
    .menu_wrap{
        display:block;
    }
    .menu_btn{
        display:block;
    }
    .navi{
        height: auto;
        display: none;
    }
    .nv_list{
        display: block;
    }
    .nv_item{
        width: 100%;
        margin: 14px 0;
    }
    .nv_item:first-child{
        margin-top: 0;
    }
    /* content  */
    .content_wrap{
        margin-bottom: 20px;
    }
    .content_title{
        font-size: 1.4em;
        width: 156px;
    }
    .firstview{
        margin-top: 70px;
    	margin-bottom: 100px;
    }
    .fv_img{
    	max-width: 290px;
    }

    .modal{
      top: 10%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .navi{
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px){

}
