/*
 * Top page style sheet
 * version 1.0.0
 * latest update: 1/Feb/2017
 */

/* FirstView */
.firstview{
    text-align: center;
    margin: 120px 0 200px;
}

.fv_img{
    max-width: 100%;
}

.fv_subtitle{
    font-size: 1.6em;
    letter-spacing: 0.2em;
}

/* content_wrap */
.content_wrap{
    height: 100%;
    margin-bottom: 80px;
}

.content_title{
    font-weight: normal;
    font-size: 2.0em;
    padding: 20px;
    color: #8e8b8b;
    letter-spacing: 0.2em;
    margin-bottom: 60px;
    width: 240px;
    box-shadow: 4px 4px 10px rgba(12,12,12,0.2);
    text-align: center;
}

/* COMPANY */
.qa{
    width: 100%;
    height: 100%;
    margin-bottom: 120px;
}
.qa_colwrap{
    margin-bottom: 24px;
}
.qa_title{
    text-align: center;
    font-size: 2.4em;
}
.qa_text{
    font-size: 1.4em;
}

@media screen and (min-width: 320px) and (max-width: 767px){

    /* content  */
    .content_wrap{
        margin-bottom: 20px;
    }
    .content_title{
        font-size: 1.4em;
        width: 156px;
    }
    .firstview{
        margin: 100px 0;
    }
    .fv_img{
    	max-width: 290px;
    }
    .qa_title{
        font-size: 1.8em;
    }
    .qa_text{
        font-size: 1.6em;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px){

}
