/*
 * Top page style sheet
 * version 1.0.0
 * latest update: 1/Feb/2017
 */

/* FirstView */
.firstview{
    text-align: center;
    margin: 60px 0 80px;
    padding: 0;
}
.fv_pc,
.fv_sp{
    padding: 0;
}
.fv_img_wrap{
    padding: 0;
}

.fv_img{
    max-height: 400px;
    max-width: 100%;
}

.sl_img{
    width: 100%;
    padding: 0;
}

.item{
    width:inherit;
    display:none;
}

.active{
    display: block;
}
.fv_subtitle{
    font-size: 1.6em;
    letter-spacing: 0.2em;
}

/* content_wrap */
.content_wrap{
    height: 100%;
    margin-bottom: 80px;
}

.content_title{
    font-weight: normal;
    font-size: 3.2em;
    color: #8e8b8b;
    letter-spacing: 0.2em;
    margin-bottom: 60px;
    width: 240px;
    border-left: 4px solid #8e8b8b;
    box-shadow: none;
    text-align:left;
}
.description{
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-left: 15px;
}

/* about 部分 */
.about .content_title{
    margin-bottom: 40px;
}

.about_text{
    line-height: 1.5em;
    font-size: 1.4em;
    float: none;
    padding: 0;
    letter-spacing: 0.2em;
    color: #424242;
}
/* link-wrap */
/*.space,.catering{
    width: 100%;
    height: 100%;
    margin-bottom: 120px;
}*/

.category-list{
  padding: 0;
}

.item_wrap{
    overflow: hidden;
    margin-bottom: 40px;
    position:relative;
}

.it_img_wrap{
    margin: 0;
}

.it_title{
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.8);
}
.it_text_wrap{
    width: 100%;
    padding: 20px 0;
}

.it_name{
    font-size: 1.8em;
    margin-bottom: 0;
}
.it_address{
    font-size: 1.1em;
}

.it_name,.it_address{
    margin-bottom: 0;
    margin-left: 12px;
    color: #FAFAFA;
}

.it_img{
    max-width: 100%;
}
.it_link{
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0;
}
.it_text_wrap{
    background-color: #A1A1A1;
}

/* info */
.img_wrap > img{
    max-width: 100%;
}

.info_text{
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px){

    /* content  */
    .content_wrap{
        margin-bottom: 20px;
    }
    .content_title{
        font-size: 1.4em;
        width: 156px;
    }
    .firstview{
        margin: 72px 0 20px;
    }
    .fv_img{
    	max-width: 290px;
    }
    .about .content_title,
    #info .content_title{
    	font-size: 1.8em;
    	margin-bottom: 24px;
    }
    .about_text,.caption{
    	font-size: 0.9em;
    }
    .caption{
      margin-bottom: 24px;
    }
    .item_wrap{
    	width: 100%;
    }
    .it_name{
      font-size: 1.4em;
    }
}
