doctype html
html
  head
    link href="/css/reset.css" rel="stylesheet" /
    link href="/css/bootstrap.min.css" rel="stylesheet" /
    link href="/css/common.css" rel="stylesheet" /
    link href="/css/category.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" /
    script src="/js/jquery-3.1.1.min.js" 
    script src="/js/bootstrap.min.js"
    script src="/js/imagesloaded.pkgd.min.js"
    script src="/js/wookmark.js"
    script src="/js/main.js" 
    script
      |
		  $(function(){
			  var ua = navigator.userAgent;
			  if(ua.indexOf("Android") == -1 && ua.indexOf("iPhone") == -1){
				  $(".item_wrap:last-child img").imagesLoaded(function(){
					$(".list_wrap").wookmark({
					  align: "center",
					  offset: 10,
					  itemWidth: 300,
					  autoResize: true,
					  container:$(".image_list")
					});
					$(".image_list").css("opacity","1");
				  });
			  }
		  });
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    title BASEMENT SPEAKES.E Inc
  body
    header.container-fluid.header
      .row
        p.col-xs-9.col-sm-9.col-md-9.company_name
          a.home_link href="/top.html"
           | BASEMENT SPEAKES.E Inc
        .col-xs-3.col-sm-3.menu_img_wrap
          img.menu_img.vis alt="menu" src="/img/menu.png" /
          img.close_img alt="close" src="/img/close.png" /
        .col-xs-12.col-sm-12.col-md-12.navi
          ul.col-md-12.nv_list
              li.col-md-2.col-md-offset-1.nv_item
                p.nv_text
                  a.nv_link href="/category/studio_space.html"  STUDIO/SPACE
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/catering.html"  CATERING
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/food_director.html"  FOOD DIRECTOR
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/flower_artist.html"  FLOWER ARTIST
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/lease.html"  LEASE
    .container-fluid
      .row
        .container.wrapper
          .firstview.center-block.fv_category.col-md-12.col-sm-12.col-xs-12
            h1.fv_name.col-md-6.col-sm-9.col-xs-9
              | STUDIO/SPACE
          .content_wrap.container-fluid
            #space.space.col-md-12
              p.description
                | 自然光溢れる白壁のハウススタジオ、ブルックリン、ブリック、ジャパニーズ・モダン、アンティークなど
                br
                 | 様々なシーンに当て込める個性豊かな空間をどうぞ。
              .image_list
                ul.list_wrap.col-md-12
                  li.item_wrap.col-md-3.col-sm-6
                    p.it_img_wrap
                      img.it_img src="/img/space/Hanawa_Hair_Design/sp_hanawa_1.jpg" /
                    .it_title
                      .it_text_wrap
                        p.it_name
                          | Hanawa Hair Design
                        p.it_address
                          | Address
                    a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/space/hanawa_hair_design.html" 
                  li.item_wrap.col-md-3.col-sm-6
                    p.it_img_wrap
                      img.it_img src="/img/space/Lapaz/sp_lapaz_1.jpg" /
                    .it_title
                      .it_text_wrap
                        p.it_name
                          | Lapaz
                        p.it_address
                          | Address
                    a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/space/lapaz.html" 
                  li.item_wrap.col-md-3.col-sm-6
                    p.it_img_wrap
                      img.it_img src="/img/space/nishikawa_dental_clinic/sp_nishikawa_1.jpg" /
                    .it_title
                      .it_text_wrap
                        p.it_name
                          | 西川クリニック
                        p.it_address
                          | Address
                    a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/space/nishikawa_dental_clinic.html" 
                  li.item_wrap.col-md-3.col-sm-6
                    p.it_img_wrap
                      img.it_img src="/img/space/Tanuki_to_Wolf/sp_tanuki_1.jpg" /
                    .it_title
                      .it_text_wrap
                        p.it_name
                          | Tanuki to Wolf
                        p.it_address
                          | Address
                    a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/space/tanuki_to_wolf.html" 
                  li.item_wrap.col-md-3.col-sm-6
                    p.it_img_wrap
                      img.it_img src="/img/space/The_Container/sp_the_container_1.jpg" /
                    .it_title
                      .it_text_wrap
                        p.it_name
                          | The Container
                        p.it_address
                          | Address
                      a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/space/the_container.html" 
                  li.item_wrap.col-md-3.col-sm-6
                    p.it_img_wrap
                      img.it_img src="/img/space/YES_TOKYO_FUTAKOTAMAGAWA/sp_yestokyo_futako_1.jpg" /
                    .it_title
                      .it_text_wrap
                        p.it_name
                          | YES TOKYO FUTAGOTAMAGAWA
                        p.it_address
                          | Address
                      a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/space/yestokyo_futako.html" 
                  li.item_wrap.col-md-3.col-sm-6
                    p.it_img_wrap
                      img.it_img src="/img/space/YES_TOKYO_NAKAMEGURO/sp_yestokyo_nakame_1.jpg" /
                    .it_title
                      .it_text_wrap
                        p.it_name
                          | YES TOKYO NAKAMEGURO
                        p.it_address
                          | Address
                    a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/space/yestokyo_nakame.html" 
              p.top_link.col-md-9.col-sm-9.col-xs-9
                a href="/top.html"  < TOPへ戻る
    footer.footer.container-fluid
      .col-md-10.col-md-offset-1.column
        h3.footer_title.col-md-6
          | Other
        ul.link_list.col-md-12
          li.list_item
            a.ft_link href="/about.html"  About
          li.list_item
            a.ft_link href="/QA.html"  Q&A
        p.writtenby
          | Written By WhiteBear
