doctype html
html
  head
    link href="/css/reset.css" rel="stylesheet" /
    link href="/css/bootstrap.min.css" rel="stylesheet" /
    link href="/css/common.css" rel="stylesheet" /
    link href="/css/about.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" /
    script src="/js/jquery-3.1.1.min.js" 
    script src="/js/bootstrap.min.js"
    script src="/js/main.js" 
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
  body
    .container-fluid
      .row
        .container.wrapper
          .content_wrap.container-fluid
            #company.company.row
              h2.content_title
                | COMPANY
              .com_column
                .com_colwrap.row
                  p.com_title.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | NAME
                  p.com_text.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | BASEMENT SPEAKES.E
                .com_colwrap.row
                  p.com_title.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | Capital
                  p.com_text.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | ¥1,000,000
                .com_colwrap.row
                  p.com_title.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | CEO
                  p.com_text.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | Yaginuma Go
                .com_colwrap.row
                  p.com_title.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | Business
                  p.com_text.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | XXX,YYY,ZZZ
                .com_colwrap.row
                  p.com_title.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | Address
                  p.com_text.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    | Tokyo,XXXX-YYYY
        footer.footer.container-fluid
          .col-md-10.col-md-offset-1.column
            h3.footer_title.col-md-6
              | Other
            ul.link_list.col-md-12
              li.list_item
                a.ft_link href="/about.html"  About
              li.list_item
                a.ft_link href="/QA.html"  Q&A
            p.writtenby
              | Written By WhiteBear
