doctype html
html
  head
    link href="/css/reset.css" rel="stylesheet" /
    link href="/css/bootstrap.min.css" rel="stylesheet" /
    link href="/css/common.css" rel="stylesheet" /
    link href="/css/contact.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" /
    script src="/js/jquery-3.1.1.min.js" 
    script src="/js/bootstrap.min.js"
    script src="/js/main.js" 
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    title BASEMENT SPEAKES.E Inc
  body
    .container-fluid
      .row
        .container.wrapper
          .content_wrap.container-fluid
            #contact.contact
              h2.content_title
                | CONTACT
              p.description
                | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
              form.form-horizontal action="/php/mail.php" method="post" 
                .form_wrap.row
                  .form-group.form-section.com_name
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 会社名
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="company_name" placeholder="会社名" type="text" /
                  .form-group.form-section.per_name
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 ご担当者様お名前
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="person_name" placeholder="お名前" type="text" /
                  .form-group.form-section.ruby
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 フリガナ
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="name_ruby" placeholder="フリガナ" type="text" /
                  .form-group.form-section.phone_number
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 携帯電話
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="phone_number" placeholder="電話番号" type="text" /
                  .form-group.form-section.mail
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 メールアドレス
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="mail" placeholder="mail@example.com" type="text" /
                  .form-group.form-section.place
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 ご希望の場所 / スタジオ名
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="place" placeholder="希望の場所" type="text" /
                  .form-group.form-section.use
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 用途
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="use" placeholder="媒体名をお書きください" type="text" /
                  .form-group.form-section.content
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 撮影内容
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="content" placeholder="撮影内容" type="text" /
                  .form-group.form-section.time
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 使用時間
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap.container_fluid
                      .col-xs-12.col-sm-12.col-md-12.fm_time_wrap
                        label.col-xs-4.col-sm-2.col-md-2 開始時間
                        select.col-xs-3.col-sm-3.col-md-2 name="s_hour" 
                          option
                            | 00
                          option
                            | 01
                          option
                            | 02
                          option
                            | 03
                          option
                            | 04
                          option
                            | 05
                          option
                            | 06
                          option
                            | 07
                          option
                            | 08
                          option
                            | 09
                          option
                            | 10
                          option
                            | 11
                          option
                            | 12
                          option
                            | 13
                          option
                            | 14
                          option
                            | 15
                          option
                            | 16
                          option
                            | 17
                          option
                            | 18
                          option
                            | 19
                          option
                            | 20
                          option
                            | 21
                          option
                            | 22
                          option
                            | 23
                        p.col-xs-1.col-sm-1.col-md-1
                          | :
                        select.col-xs-3.col-sm-3.col-md-2 name="s_minute" 
                          option
                            | 00
                          option
                            | 15
                          option
                            | 30
                          option
                            | 45
                      .col-xs-12.col-sm-12.col-md-12.fm_time_wrap
                        label.col-xs-4.col-sm-2.col-md-2 終了時間
                        select.col-xs-3.col-sm-3.col-md-2 name="f_hour" 
                          option
                            | 00
                          option
                            | 01
                          option
                            | 02
                          option
                            | 03
                          option
                            | 04
                          option
                            | 05
                          option
                            | 06
                          option
                            | 07
                          option
                            | 08
                          option
                            | 09
                          option
                            | 10
                          option
                            | 11
                          option
                            | 12
                          option
                            | 13
                          option
                            | 14
                          option
                            | 15
                          option
                            | 16
                          option
                            | 17
                          option
                            | 18
                          option
                            | 19
                          option
                            | 20
                          option
                            | 21
                          option
                            | 22
                          option
                            | 23
                        p.col-xs-1.col-sm-1.col-md-1
                          | :
                        select.col-xs-3.col-sm-3.col-md-2 name="f_minute" 
                          option
                            | 00
                          option
                            | 15
                          option
                            | 30
                          option
                            | 45
                  .form-group.form-section.date
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 日程
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      input.fm_text name="date" placeholder="4/1,2,3" type="text" /
                  .form-group.form-section.other
                    label.fm_label.col-sm-4.col-md-4.col-lg-4 備考
                    .col-sm-8.col-md-8.col-lg-8.fm_text_wrap
                      p.error_msg error msg
                      textarea.fm_textarea col="40" name="other" placeholder="ご要望・ご質問などございましたらお気軽にこちらへご記載ください。" row="6" 
                  button.col-xs-12.col-sm-12.col-md-12.col-lg-12.btn.btn-default SUBMIT
      footer.footer.container-fluid
        .col-md-10.col-md-offset-1.column
          h3.footer_title.col-md-6
            | Other
          ul.link_list.col-md-12
            li.list_item
              a.ft_link href="/about.html"  About
            li.list_item
              a.ft_link href="/QA.html"  Q&A
          p.writtenby
            | Written By WhiteBear
