doctype html
html
  head
    link href="/css/reset.css" rel="stylesheet" /
    link href="/css/bootstrap.min.css" rel="stylesheet" /
    link href="/css/common.css" rel="stylesheet" /
    link href="/css/top.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" /
    script src="/js/jquery-3.1.1.min.js" 
    script src="/js/bootstrap.min.js"
    script src="/js/imagesloaded.pkgd.min.js"
    script src="/js/wookmark.js" 
    script src="/js/main.js" 
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    title BASEMENT SPEAKES.E Inc
  body
    header.container-fluid.header
      .row
        p.col-xs-9.col-sm-9.col-md-9.company_name
          a.home_link href="/top.html"
           | BASEMENT SPEAKES.E Inc
        .col-xs-3.col-sm-3.menu_img_wrap
          img.menu_img.vis alt="menu" src="/img/menu.png" /
          img.close_img alt="close" src="/img/close.png" /
        .col-xs-12.col-sm-12.col-md-12.navi
          ul.col-md-12.nv_list
              li.col-md-2.col-md-offset-1.nv_item
                p.nv_text
                  a.nv_link href="/category/studio_space.html"  STUDIO/SPACE
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/catering.html"  CATERING
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/food_director.html"  FOOD DIRECTOR
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/flower_artist.html"  FLOWER ARTIST
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/lease.html"  LEASE
    .firstview.center-block.col-md-12
      .fv_pc.col-md-12.hidden-xs.hidden-sm
        .col-md-4.fv_img_wrap
          img.fv_img src="/img/fv_1.jpg" /
        .col-md-4.fv_img_wrap
          img.fv_img src="/img/fv_2.jpg" /
        .col-md-4.fv_img_wrap
          img.fv_img src="/img/fv_3.jpg" /
      .fv_sp.col-sm-12.visible-xs.visible-sm
        .fv_carousel
          .item.active
            img.sl_img src="/img/fv_1.jpg" /
          .item
            img.sl_img src="/img/fv_2.jpg" /
          .item
            img.sl_img src="/img/fv_3.jpg" /
    .container-fluid
      .row
        .container.wrapper
          .content_wrap.container-fluid
            #about.about.col-md-12
              h2.content_title
                | CONCEPT
              p.about_text.col-md-12
                | 弊社では各種撮影、展示会、イベントに適した【表情豊かな空間】と【感度の高いコンテンツ】のマネージメントを行っております。
                br 
                  | 案件に合わせて、ケータリングやフードディレクター、フラワーアーティストによる空間演出・装飾までワンストップでお客様へご提供が可能です。
          .content_wrap.container-fluid
            .category-list.col-md-12
              .item_wrap.col-md-4.col-sm-6.studio
                p.it_img_wrap
                  img.it_img src="/img/base-1.png" /
                .it_title
                  .it_text_wrap
                    p.it_name
                      | STUDIO / SPACE
                a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/studio_space.html" 
              .item_wrap.col-md-4.col-sm-6.catering
                p.it_img_wrap
                  img.it_img src="/img/base-3.png" /
                .it_title
                  .it_text_wrap
                    p.it_name
                      | CATERING
                a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/catering.html" 
              .item_wrap.col-md-4.col-sm-6.food_director
                p.it_img_wrap
                  img.it_img src="/img/meal-1.png" /
                .it_title
                  .it_text_wrap
                    p.it_name
                      | FOOD DIRECTER
                a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/food_director.html" 
              .item_wrap.col-md-4.col-sm-6.flower_artist
                p.it_img_wrap
                  img.it_img src="/img/meal-2.png" /
                .it_title
                  .it_text_wrap
                    p.it_name
                      | FLOWER ARTIST
                a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/flower_artist.html" 
              .item_wrap.col-md-4.col-sm-6.lease
                p.it_img_wrap
                  img.it_img src="/img/meal-3.png" /
                .it_title
                  .it_text_wrap
                    p.it_name
                      | LEASE
                a.it_link.col-xs-12.col-sm-12.col-md-12 href="/category/lease.html" 
          .content_wrap.container-fluid
            #info.info.col-md-12
              h2.content_title
                | INFO
              .col-md-6.info_text
                p.caption
                  | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
              .col-md-6.info_img
                p.img_wrap
                  img src="/img/base-4.png" /
    footer.footer.container-fluid
      .col-md-10.col-md-offset-1.column
        h3.footer_title.col-md-6
          | Other
        ul.link_list.col-md-12
          li.list_item
            a.ft_link href="/about.html"  About
          li.list_item
            a.ft_link href="/QA.html"  Q&A
        p.writtenby
          | Written By WhiteBear
