doctype html
html
  head
    link href="/css/reset.css" rel="stylesheet" /
    link href="/css/bootstrap.min.css" rel="stylesheet" /
    link href="/css/common.css" rel="stylesheet" /
    link href="/css/detail.css" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" /
    script src="/js/jquery-3.1.1.min.js"
    script src="/js/bootstrap.min.js"
    script src="/js/imagesloaded.pkgd.min.js"
    script src="/js/wookmark.js"
    script src="/js/main.js"
    script
      |
        $(function(){
          $(".item_wrap:last-child img").imagesLoaded(function(){
            $(".image_list_wrap").wookmark({
              align: "center",
              offset: 10,
              itemWidth: 300,
              autoResize: true,
              container:$(".image_list")
            });
            $(".image_list").css("opacity","1");
          });
        });
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    title BASEMENT SPEAKES.E Inc
  body
    header.container-fluid.header
      .row
        p.col-xs-9.col-sm-9.col-md-9.company_name
          a.home_link href="/top.html"
           | BASEMENT SPEAKES.E Inc
        .col-xs-3.col-sm-3.menu_img_wrap
          img.menu_img.vis alt="menu" src="/img/menu.png" /
          img.close_img alt="close" src="/img/close.png" /
        .col-xs-12.col-sm-12.col-md-12.navi
          ul.col-md-12.nv_list
              li.col-md-2.col-md-offset-1.nv_item
                p.nv_text
                  a.nv_link href="/category/studio_space.html"  STUDIO/SPACE
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/catering.html"  CATERING
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/food_director.html"  FOOD DIRECTOR
              li.col-md-2.nv_item
                p.nv_text.w_line
                  a.nv_link href="/category/flower_artist.html"  FLOWER ARTIST
              li.col-md-2.nv_item
                p.nv_text
                  a.nv_link href="/category/lease.html"  LEASE
    .container-fluid
      .row
        .container.wrapper
          .firstview.center-block
            h1.fv_name
              | YES TOKYO FUTAKOTAMAGAWA
          h2.content_title
            | SPACE IMAGE
          .content_wrap.container-fluid
            .image_list style="opacity:0;"
              ul.image_list_wrap
                - for i in 1..8
                  li.item_wrap.col-md-3.col-sm-6.col-xs-12
                    p.it_img_wrap
                      a.modal-image-wrap data-target=".bs-example-modal-lg" data-toggle="modal" 
                        img.it_img src="/img/space/YES_TOKYO_FUTAKOTAMAGAWA/sp_yestokyo_futako_#{i}.jpg" /
          .content_wrap.container-fluid
            .price_plan.row
              h2.content_title
                | PRICE PLAN
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.left_column
                ul.list_wrap
                  li.list_content
                    | price plan detail
                  li.list_content
                    | price plan detail
                  li.list_content
                    | price plan detail
                  li.list_content
                    | price plan detail
                  li.list_content
                    | price plan detail
          .content_wrap.container-fluid
            .spec.row
              h2.content_title
                | SPEC
              .column_wrap.col-md-12
                .col-md-6.col-lg-6.left_column
                  ul.list_wrap
                    li.list_content
                      | price plan detail
                    li.list_content
                      | price plan detail
                    li.list_content
                      | price plan detail
                    li.list_content
                      | price plan detail
                    li.list_content
                      | price plan detail
                .col-md-6.col-lg-6.right_column
                  .p_notice
                    p.p_notice_text
                      | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい
          .content_wrap.container
            .btn_wrap.row
              .column_wrap.col-md-12
              .col-md-12.center-block.right_column
                .contact_btn
                  a.btn_link href="/contact.html"  お問い合わせする
          .modal.fade.bs-example-modal-lg aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" aria-hidden="true" 
            .modal-dialog.modal-lg role="document" 
              .modal-content
                img.modal-image.img-responsive data-dismiss="modal" src=""
    footer.footer.container-fluid
      .col-md-10.col-md-offset-1.column
        h3.footer_title.col-md-6
          | Other
        ul.link_list.col-md-12
          li.list_item
            a.ft_link href="/about.html"  About
          li.list_item
            a.ft_link href="/QA.html"  Q&A
        p.writtenby
          | Written By WhiteBear
